body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    padding: 10em 0 5em 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

#main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 500px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 25px;
}

#section-a {
    position: relative;
}

#sectiona-img1 {
    position: absolute;
    top: -105%;
}

#section-b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accordion-list ul {
    display: grid;
    grid-template-columns: 250px 10px;
    column-gap: 10px;
    list-style-type: none;
    padding: 10px 0 10px 0;
    margin: 0;
}

.list-font-color {
    color: hsl(240, 3%, 38%);
}

.hidden-li {
    display: none;
    margin-top: 5px;
}

.rotate-arrows {
    transform: rotate(180deg);
    padding-bottom: 5px;
}

.show-lis {
    display: inherit;
}

.bold-font {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

h1 {
    color: hsl(238, 29%, 16%);
    font-size: 2.5em;
}

ul img {
    padding-top: 5px;
}
 hr {
     opacity: 0.3;
 }