body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    height: 800px;
}

#main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 500px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 25px;
}

@media only screen and (min-width: 768px){
    #main-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 800px;
        height: 470px;
        padding: 0;
        position: relative;
    }
}

/*SECTION A*/
@media only screen and (min-width: 768px) {
    #section-a {
        flex-basis: 45%;
        height: 470px;
        background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: -5.5em 6em, -41em -20em;
        background-size: 25rem, 52rem;
        border-radius: 25px;
    }
}

#section-a-bg {
    position: relative;
    
}

#mobile-bg {
    position: absolute;
    top: -7rem;
    left: 0;
}

@media only screen and (min-width: 768px) {
    #mobile-bg-pattern, #mobile-bg {
        display: none;
    }    
}

#box-img {
    display: none;
}

@media only screen and (min-width: 768px) {
    #box-img {
        display: block;
        position: absolute;
        top: 36%;
        left: -16%;
    }
}

/*SECTION B*/
#section-b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    #section-b {
        align-items: flex-start;
        justify-content: center;
        flex-basis: 45%;
        height: 470px;
    }
}

h1 {
    color: hsl(238, 29%, 16%);
    font-size: 2.5em;
}

ul {
    padding-left: 0;
}

.list-divider .accordion-list {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

#accordion-container {
    height: 270px;
}

.accordion-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 270px;
    padding: 16px 0;
}
.accordion-list img {
    padding-top: 5px;
}

#accordion-container ul {
    list-style-type: none;
    flex-basis: 90%;
    margin: 0;
}

#accordion-container ul:hover {
    cursor: grab;
    color: rgb(247, 129, 86);
}

/*FOOTER*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*JAVASCRIPT SELECTORS*/
.list-font-color {
    color: hsl(240, 3%, 38%);
}

.hidden-li {
    display: none;
    margin-top: 5px;
    color: hsl(0, 0%, 57%);
}

.rotate-arrows {
    transform: rotate(180deg);
    padding-bottom: 5px;
}

.show-lis {
    display: inherit;
}

.bold-font {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

